@use "/src/styles/mixins/_colours.scss";

.settings_dropdown {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.08);
    box-shadow: -1px 9px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: colours.$purple_primary_dark;
    border-radius: 0 0 6px 6px;
    border-width: 0 0 1px 1px;
    
    .settings_section {
        margin-bottom: 0.9rem;

        h4 {
            font-weight: 600;
            margin-bottom: 0.4rem;
            font-size: 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding-left: 0;

            li {
                padding: 0.25rem 0.4rem;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.15s ease;
                margin: 8pt 0;
                display: flex;
                &:hover,
                &:focus {
                    background-color: #624091;
                    outline: none;
                }
            }
        }
    }
}