@use "/src/styles/mixins/_variables.scss";
@use "/src/styles/mixins/_colours.scss";
@use 'sass:math';

/**
 * ---------------------------------------
 * Containers
 * ---------------------------------------
 */

.app_container {
  display: flex;
  height: 90%;
}

.home_container.starfield_background {
  flex-grow: 1;
  background: var(--background-colour); 
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  main {
    position: relative;
    z-index: 1;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex; 
    gap: 4rem; 

    @media (max-width: variables.$breakpoint-md) {
      flex-direction: column;
      gap: 2rem;
    }
  }
}

.starfield_display_area {
  display: flex;
  flex-grow: 1;
  gap: 4rem;

  @media (max-width: variables.$breakpoint-md) {
    flex-direction: column;
    gap: 2rem;
  }
}

.starfield_action_area {
  flex: 0 0 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;


  @media (max-width: variables.$breakpoint-md) {
    flex-basis: auto; 
    height: 250px; 
  }
}

/**
 * ---------------------------------------
 * Recent_mindmaps_section
 * ---------------------------------------
 */

.recent_mindmaps_section {
  flex: 1;  
  color: var(--text-color);
  max-width: 800px;
  h3 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: var(--primary-color-light);
  }
}


/**
 * ---------------------------------------
 * All filtering-section related stuff
 * ---------------------------------------
 */

.filtering_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  border: 1px solid var(--card-border);
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  background: var(--card-background-colour);
  position: relative;
  border-radius: 30px;
  height: 95%;
  
  .search_bar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--input-background);
    border: 1px solid colours.$border-color;
    padding: 14px 20px 14px 50px;
    border-radius: 30px 30px 0 0;
    
    svg {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--input-placeholder-text);
      font-size: 1.2rem;
    }
    
    input[type="text"] {
      width: 100%;
      background-color: transparent;
      border: none;
      color: var(--input-text);
      font-size: 1rem;
      transition: all 0.3s ease-in-out;

      &::placeholder {
        color: var(--input-placeholder-text);
      }
      
    }
  }

  .filter_options {
    display: flex;
    
  
    button {
      padding: 8px 20px;
      background-color: transparent;
      border: 1px solid colours.$border-color;
      color: var(--input-placeholder-text);
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 500;
      transition: all 0.3s ease;
      flex: 1;
      
      &:hover {
        background-color: colours.$inactive-filter-hover-bg;
        color: colours.$text-color;
        border-color: colours.$inactive-filter-hover-bg;
      }

      &.active {
        background-color: colours.$active-filter-bg;
        color: colours.$active-filter-text;
        border-color: colours.$active-filter-bg;
        font-weight: 600;
      }
    }
  }

  .results_of_filter {
    padding-left: 0.5rem;
    color: #fff;

    p {
      margin: 0.5rem 0;
      font-size: 1rem;
    }
  }

  .search_result_item {
    display: flex;
    flex: 1;
    margin: 0 0.5rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--card-border);
    cursor: pointer;
    transition: all 0.3s ease;
    height: 50px;
    
    .tags {
      padding: 0.2rem 0.5rem;
      display: inline-grid;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      grid-template-columns: auto auto auto auto;
      gap: 10px;
      
      .tag {
        background-color: purple;
        padding: 0.2rem 0.5rem;
        border-radius: 10px;
        align-self: center;
      }

    }
  }
}

.options {
  display: flex;
  align-items: center;
  height: 100%;
  
  svg {
    padding: 3px;
  }
}

/**
 * ---------------------------------------
 * All create_mindmap related stuff
 * ---------------------------------------
 */

.create_mindmap_nebula_button {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  background-color: red;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  border-color: var(--vortex-border-colour);
  border-style: solid;
  border-width: 4px;
  
  &:hover {
    border-color: var(--vortex-border-colour-hover);
    transform: scale(1.05);
  }
}

.swirl_vortex {
  position: absolute;
  border-radius: 50%;
  width: 109%;
  height: 109%;
}

.swirl_vortex_overlay {
  position: absolute;
  border-radius: 50%;
  width: 109%;
  height: 109%;
  background: conic-gradient(
                  hsla(355, 100%, 60%, 0.95) 0deg,    
                  hsla(25, 100%, 55%, 0.95) 60deg,    
                  hsla(320, 100%, 55%, 0.95) 120deg,   
                  hsla(260, 90%, 60%, 0.95) 180deg,      
                  hsla(240, 90%, 60%, 0.95) 240deg,     
                  hsla(330, 100%, 55%, 0.95) 300deg,    
                  hsla(355, 100%, 60%, 0.95) 360deg     
  );
  filter: blur(15px);
  mix-blend-mode: multiply;
  z-index: 3;
  opacity: 0.8;
  animation: spin 10s linear infinite;
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}

.nebula_label {
  z-index: 5;
  display: flex;
  width: 50%;
  height: 20%;
  color: var(--font-color);
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.swirl_vortex_circle {
  background-color: var(--vortex-background-colour);
  z-index: 4;
  filter: blur(10px);
  border-radius: 50%;
  width: 25%;
  height: 25%;
  position: absolute;
}

/**
 * ---------------------------------------
 * All other mindmap related stuff
 * ---------------------------------------
 */
.mindmap_planets_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); // Adjust planet size
  gap: 2rem;
  overflow-y: auto;
  padding-right: 1rem;
  max-height: calc(100vh - 200px);

  @media (max-width: variables.$breakpoint-sm) {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}


.mindmap_planet_card {
  border-radius: 50%;
  width: 180px; 
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px) scale(1.05);
  }
}