@use "/src/styles/mixins/_colours.scss";

@media (prefers-color-scheme: dark) {
  :root, input, input::placeholder {

    //Background
    --background-colour: #{colours.$background_dark};
    
    //Card
    --card-border: #{colours.$card_border_dark};
    --card-border-hover: #{colours.$card_border_hover_dark};
    --card-background-colour: #{colours.$card_background_dark};
    --card-text: #{colours.$card_text_dark};
    --card-text-hover: #{colours.$card_text_hover_dark};
    --card-settings-colour: #{colours.$purple_primary_dark_highlight_light};
    --card-settings-background: rgba(255, 255, 255, 0.05);
    --card-settings-colour-hover: #ffffff;
    --card-settings-background-hover: rgba(255, 255, 255, 0.1);

    //Inputs
    --input-background: #{colours.$input_bg_dark};
    --input-text: #{colours.$input_text_dark};
    --input-placeholder-text: #{colours.$input_placeholder_text_dark};
    
    //Font
    --font-color: #{colours.$text_color_dark};
      --tag-hover: #{colours.$tag_hover_dark};
    //Vortex
    --vortex-background-colour: #000;
    --vortex-border-colour: #{colours.$border_dark};
    --vortex-border-colour-hover: #{colours.$accent_colour};
      
    //Filtering Section Home
    --filtering_section_options: #{colours.$filtering_section_options_dark};
      --active_filter_bg: #{colours.$active_filter_bg_dark};
      --active_filter_text: #{colours.$active_filter_text_dark};
      --inactive_filter_text: #{colours.$inactive_filter_text_dark};
      --inactive_filter_bg: #{colours.$inactive_filter_hover_bg_dark};
      --filter_result_text: #{colours.$results_of_filter_text_dark};
      
      //Side Panel
      --mindmap_side_panel_bg: #{colours.$mindmap_side_panel_colour_dark};
      
      //Tags
      --tag_arrow_bg: #{colours.$tag_arrow_bg_dark};
  }
  
  body {
    background: colours.$background_dark;
  }


}