@media (prefers-color-scheme: dark) {
  :root, input, input::placeholder {

    //Card
    --card-border: #{colours.$card_border_dark};
    --card-border-hover: #{colours.$card_border_hover_dark};
    --card-background-colour: #{colours.$card_background_dark};
    --card-text: #{colours.$card_text_dark};
    --card-text-hover: #{colours.$card_text_hover_dark};
    --card-settings-colour: #{colours.$purple_primary_dark_highlight_light};
    --card-settings-background: rgba(255, 255, 255, 0.05);
    --card-settings-colour-hover: #ffffff;
    --card-settings-background-hover: rgba(255, 255, 255, 0.1);
    
    //New Card
    --new-card-border: #{colours.$new_card_border_dark};
    --new-card-border-hover: #{colours.$new_card_border_hover_dark};
    --new-card-background-colour: #{colours.$new_card_background_dark};
    --new-card-text: #{colours.$new_card_text_dark};
    --new-card-text-hover: #{colours.$new_card_text_hover_dark};

  }
  
  body {
    background: colours.$background_dark;
  }
  

}