@use '@scss/mixins/colours';
@use '@scss/mixins/variables';

header {
  background-color: colours.$purple_primary_dark;
  height: variables.$nav_height;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  .toolbar {
    display: flex;
    width: calc(100% - 2em);
    height: variables.$tool_bar_height;
    padding: 0 1em;

    h1 {
      color: colours.$purple_primary_dark_highlight_light;
      align-self: center;
      margin-left: 10px;
    }
    
    .nav_icons_bar {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      gap: 1rem;
    }
  }

  .nav_icons, #pencolor {
    height: variables.$toolbar_icon_size;
    width: variables.$toolbar_icon_size;
    color: colours.$purple_primary_dark_highlight_light;
    align-self: center;
  }

  .toolbar_sub {
    background-color: colours.$purple_secondary_dark;
    align-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: variables.$sub_toolbar_height;
    padding: 0 1em;


    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.nav_icon_with_dropdown {
  position: relative;
  display: inline-block;
  align-content: center;

  .dropdown-container {
    position: absolute;
    top: variables.$tool_bar_height;
    right: 0;
    z-index: 10;
  }
}
