.settings_dropdown {
  background-color: colours.$purple_primary_dark;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 0.8rem 1rem;
  font-size: 14px;
  color: #ddd;
  align-content: center;
  z-index: 9999;
  width: min(100vw, 256pt);

  .dropdown_title {
    margin-bottom: 0.6rem;
    font-weight: 600;
    font-size: 1.15rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.3rem;
  }

  .settings_section {
    margin-bottom: 0.9rem;

    h4 {
      font-weight: 600;
      margin-bottom: 0.4rem;
      font-size: 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;

      li {
        padding: 0.25rem 0.4rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.15s ease;
        margin: 8pt 0;
        display: flex;
        &:hover,
        &:focus {
          background-color: #624091;
          outline: none;
        }
      }
    }
  }
}
