@use "/src/styles/mixins/_variables.scss";
@use "/src/styles/mixins/_colours.scss";

/**
* ---------------------------------------
* Icons, etc for the Navbar
* ---------------------------------------
*/

header {
  background-color: colours.$purple_primary_dark;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
  
//The main Toolbar
.toolbar {
  height: variables.$tool_bar_height;

  h1 {
    color: colours.$purple_primary_dark_highlight_light;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2em;
    }
  }

/**
* ---------------------------------------
* Arrangement of the Toolbar
* ---------------------------------------
*/
.toolbar,
.toolbar_sub {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 1em;
}