/**
* ---------------------------------------
* Colours
* ---------------------------------------
*/
$purple_primary_dark: #28183b;
$purple_primary_dark_foreground: #71499f;
$purple_primary_dark_highlight: #7647ad;
$purple_primary_dark_highlight_light: #D7A8E1;
$purple_secondary_dark: #3d245a;
$purple_tertiary_dark: #4A2277;
$border_dark: #2A003B;
$accent_colour: hsla(355, 100%, 60%, 0.95);
/**
* ---------------------------------------
* Background Colours
* ---------------------------------------
*/
$background_dark: #1e1a20;
$background_light: #e2dde7;         


/**
* ---------------------------------------
* Tool FAB Stuff
* ---------------------------------------
*/

//Colour of the FAB Tool Circle Icons
$circle_colour: #F4B3FF;

/**
* ---------------------------------------
* Modals
* ---------------------------------------
*/

/**
* ---------------------------------------
* Cards
* ---------------------------------------
*/

//Dark
$card_background_dark: #2d1f35;
$card_border_dark: #4a2f5d;           
$card_border_hover_dark: #8a5299;  
$card_text_dark: #e8e4ed;         
$card_text_hover_dark: #b67dd4;

$new_card_background_dark: #532d6d;
$new_card_border_dark: #8a4bb2;    
$new_card_border_hover_dark: #8a5299;
$new_card_text_dark: #E8E4ED;
$new_card_text_hover_dark: #F0E6FF; 

//Light
$card_background_light: #ffffff;      
$card_border_light: #e0d5ee;         
$card_border_hover_light: #9b6cc3;    
$card_text_light: #452760;           
$card_text_hover_light: #5c2f84;    

/**
* ---------------------------------------
* Inputs
* ---------------------------------------
*/

//Dark
$input_bg_dark: #2b2b40;
$input_text_dark: #ffffff;
$input_placeholder_text_dark: #bebebe;

//Light
$input_placeholder_text_light: #504949;
$input_bg_light: #ecdef5;
$input_text_light: #131313;



//togothrough
$new_card_background_light: #e2ccff;  
$new_card_border_light: #b184dd;      
$new_card_border_hover_light: #9b6cc3; 
$new_card_text_light: #452760;        
$new_card_text_hover_light: #5c2f84;


$text-color: #E0E0E0;
$text-color-light: #B0B0B0;

$primary-accent: #7f5af0; 
$border-color: #41415c;
$active-filter-bg: $primary-accent;
$active-filter-text: #ffffff;
$inactive-filter-hover-bg: #3a3a52;


