/**
* Dark Colours
*/
$purple_primary_dark: #28183b;
$purple_primary_dark_foreground: #71499f;
$purple_primary_dark_highlight: #7647ad;
$purple_primary_dark_highlight_light: #D7A8E1;
$purple_secondary_dark: #6d538b;
$purple_tertiary_dark: #4A2277;
$red_error_dark: #FFB4AB;
$foreground_dark: #3d245a;

/**
* Light Colours
*/

/**
* Background Colours
*/
$background_dark: #1e1a20;
$background_light: #7f5aa9;


/**
* ---------------------------------------
* Tool FAB Stuff
* ---------------------------------------
*/

//Colour of the FAB Tool Circle Icons
$circle_colour: #F4B3FF;

/**
* ---------------------------------------
* Modals
* ---------------------------------------
*/
$modal_background: #3b1364;