/**
* Dark Colours
*/
$purple_primary_dark: #3d245a;
$purple_primary_dark_foreground: #71499f;
$purple_primary_dark_highlight: #7647ad;
$purple_primary_dark_highlight_light: #a575e5;
$purple_secondary_dark: #6d538b;
$purple_tertiary_dark: #632E9F;
$red_error_dark: #FFB4AB;
$background_dark: #332f35;
$foreground_dark: #3d245a;
/**
* Light Colours
*/

/**
* Background Colours
*/
$dark_background_colour: #1e1a20;