/**
* ---------------------------------------
* NavbarMindmap Stuffs
* ---------------------------------------
*/

//Main Tool Bar
$tool_bar_height: 36pt;
$toolbar_icon_size: $tool_bar_height * 0.6;

//Sub Tool Bar
$sub_toolbar_height_mindmap: 20pt;
$sub_toolbar_height_home: 6pt;

//Header
$nav_height: $sub_toolbar_height_mindmap + $tool_bar_height;

/**
* ---------------------------------------
* Tool FAB Stuff
* ---------------------------------------
*/

// Size of Surrounding Circles in the FAB
$circle_size: 47px;

// The icons within the Surrounding Circles
$circle_size_icons: $circle_size * 0.60;

// The number of surrounding circles
$num_circles: 4;

// How far away the surrounding circles orbit
$orbit_radius: 77px;

/**
* ---------------------------------------
* Screen Sizes
* ---------------------------------------
*/
$breakpoint-xs: 480px;   // Phones
$breakpoint-sm: 768px;   // Tablets
$breakpoint-md: 1024px;  // Laptops
$breakpoint-lg: 1440px;  // Desktop
